#headerLogoINEGI{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    height: 55px;
}
#headerLogoMDM{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
}
.headerBackground{
    /* background-image: url('../img/header-background.jpg'); */
    background-color: rgb(226, 213, 154);
    background-repeat: repeat-x;
    z-index: 2000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
    overflow: hidden;
}
#headerBtnEvalua{
	position: absolute;
	right: 359px;
	top: 0px;
	z-index: 3;
	
	cursor: pointer;
}
.warningBox {
    display: flex;
    justify-content: center;
    height: 55px;
}
.warningText {
    margin-top: 0px;
    padding-top: 15px;
    font-size: x-large;
    background-color: black;
    top: 50%;
    color: red;
    height: 55px;
}
